spring:
  datasource:
    url: jdbc:h2:mem:jpa_labs;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate.show_sql: true
      hibernate.format_sql: true

