spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mqlabs
    username: postgres
    password: postgres
  sql:
    init:
      mode: always
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      transaction-id-prefix: tx-lab02-
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health,info
